<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-7">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="card">
          <div class="card-header">
            <strong>Basic Form</strong> Elements
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="group-name">Group Name</label>
              <div class="col-md-9">
                <input type="text" id="group-name" name="group-name" class="form-control" placeholder="Text">
                <!--<span class="help-block">This is a help text</span>-->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="multiple-select">Select the Group Member</label>
              <div class="col-md-9">
                <select id="multiple-select" name="multiple-select" class="form-control"
                  (change)="selectedMenber($event);" size="6" multiple>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                  <option value="4">Option #4</option>
                  <option value="5">Option #5</option>
                  <option value="6">Option #6</option>
                  <option value="7">Option #7</option>
                  <option value="8">Option #8</option>
                  <option value="9">Option #9</option>
                  <option value="10">Option #10</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="group-name">Group Member</label>
              <div class="col-md-9">
                <span id="selected-member"></span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class=""><button class="btn btn-primary" type="button">Add Group</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
