<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="cui-pencil icons"></i>
      <strong>Group List</strong>
      <div class="card-header-actions"><a href="#/dashboard/groupManagement/create"><button class="btn btn-primary"
            type="button">Add More</button></a></div>
    </div>
    <div class="card-body">
      <table class="table table-striped" [style.text-align]="'center'">
        <thead>
          <tr>
            <th>Group</th>
            <th>Leader</th>
            <th>Members</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let group of exitsGroups'>
            <td>{{group.name}}</td>
            <ng-container *ngFor='let member of group.members'>
              <td *ngIf="member.id === group.leader">{{member.name}}</td>
            </ng-container>
            <td>
              <ng-container *ngFor='let member of group.members;let lastMember = last'>
                <span *ngIf="member.id !== group.leader">{{member.name}}
                  <span *ngIf="!lastMember">,</span>
                </span>
              </ng-container>
            </td>
            <td>
              <a href="#/dashboard/groupManagement/edit?groupName={{group.name}}"><button class="btn btn-info"><i
                    class="cui-pencil icons"></i></button></a>
            </td>
            <td>
              <button id="{{group.name}}" class="btn btn-danger" type="button" data-toggle="modal"
                (click)='deleteModal.show();setSelectedGroup(group.name)'><i class="cui-trash icons"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--Alert Delete Assignment Modal-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dangerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Group</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Delete Assignment Main-->
      <div class="modal-body">
        <p>Do you Want to Delete this "{{selectedGroupName}}" Group&hellip;</p>
        <div *ngIf='isDeleteProgress'>
          <progressbar class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic" [max]="max"
            [type]="type">
          </progressbar>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteGroup()">Delete</button>
      </div>
    </div>
  </div>
</div>
<progedu-error-modal [errorTitle]='errorTitle' [errorResponse]="errorResponse"></progedu-error-modal>
