<div *ngIf='mixedChartLabels' class="card">
    <div class="card-header">
        <div class="card-header-actions">
            <a href="https://hackmd.io/@chuan1010/Syk2_anCq">
            <small class="text-muted">docs</small>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="mixedChartData" [labels]="mixedChartLabels"
            [options]="mixedChartOptions" [legend]="mixedChartLegend" [chartType]="mixedChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>
