/target/
.checkstyle
.properties
.classpath
.project
.settings/
.idea/
.vscode/
progedu.iml
src/main/resources/config/jenkins_config.properties
src/main/resources/config/gitlab_config.properties
src/main/resources/config/course_config.properties
src/main/resources/config/db_config.properties
