/target/
.checkstyle
.classpath
.project
.settings/
.idea/
.vscode/
node/
progedu.iml

/src/main/resources/config/*.properties
/src/main/webapp/*
!/src/main/webapp/old_webapp
!/src/main/webapp/WEB_INF
!/src/main/webapp/resources