version: "3.7"
services:
  db:
    # image: mysql:latest
    # image: mysql:5.7
    # image: fcumselab/progedu-mysql:latest
    image: fcumselab/progedu-mysql:latest
    build: ./mysql
    ports:
      - "${DB_PORT}:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      # MYSQL_USER: ${DB_USER}
      # MYSQL_PASSWORD: ${DB_PASSWORD}
      # MYSQL_DATABASE: ${DB_DATABASE}
    volumes:
      - ${DATA_PATH_HOST}/mysql:/var/lib/mysql

  gitlab:
    # image: gitlab/gitlab-ce
    # image: gitlab/gitlab-ce:10.8.5-ce.0
    # image: gitlab/gitlab-ce:10.0.0-ce.0
    image: gitlab/gitlab-ce:9.5.10-ce.0
    ports:
      - "${GITLAB_HTTP_PORT}:80"
      - "${GITLAB_SSH_PORT}:22"
    restart: always
    privileged: true
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '${GITLAB_HOST}'
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        gitlab_rails['initial_root_password'] = "${GITLAB_ROOT_PASSWORD}"
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
    volumes:
      - ${DATA_PATH_HOST}/gitlab/config:/etc/gitlab
      - ${DATA_PATH_HOST}/gitlab/logs:/var/log/gitlab
      - ${DATA_PATH_HOST}/gitlab/data:/var/opt/gitlab

  server:
    image: fcumselab/progedu-tomcat:latest
    # image: fcumselab/progedu-tomcat:latest
    build:
      context: ./server
      args:
        - DEBUG=false
    env_file:
      - .env
    ports:
      - "${WEB_PORT}:8080"
    depends_on:
      - db
      - jenkins
      - gitlab

  # jenkins:
  #   # image: jenkins/jenkins:lts
  #   image: fcumselab/progedu-jenkins:latest
  #   build:
  #     context: ./jenkins
  #   ports:
  #     - "${JENKINS_PORT}:8080"
  #     # - "30000:50000"
  #   restart: always
  #   environment:
  #     WEB_SELENIUM_URL: ${WEB_SELENIUM_URL}
  #   volumes:
  #     - ${DATA_PATH_HOST}/jenkins:/var/jenkins_home

  jenkins-android:
    image: progedu-android-jenkins:latest
    build: 
      context: ./jenkins/android
      args:
        - SDK_SETUP=${SDK_SETUP}
        - SDK_PLATFORMS=${SDK_PLATFORMS}
        - SDK_BUILD_TOOLS=${SDK_BUILD_TOOLS}
    privileged: true
    ports:
      - ${JENKINS_PORT}:8080
    volumes:
      - ${DATA_PATH_HOST}/jenkins-android/jenkins_home:/var/jenkins_home
      - ${DATA_PATH_HOST}/jenkins-android/android-sdk-linux:/usr/local/android-sdk-linux
      - /dev/kvm:/dev/kvm
    restart: always

  selenium:
    image: selenium/standalone-chrome
    ports:
      - "${SELENIUM_PORT}:4444"
    restart: always
    volumes:
      - ${DATA_PATH_HOST}/jenkins/workspace:/var/lib/workspace
