version: "3.7"
services:
  db:
    image: fcumselab/fcu-progedu-mysql:release-2.0.3
    ports:
      - "${DB_PORT}:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      # MYSQL_USER: ${DB_USER}
      # MYSQL_PASSWORD: ${DB_PASSWORD}
      # MYSQL_DATABASE: ${DB_DATABASE}
    volumes:
      - ${DATA_PATH_HOST}/mysql:/var/lib/mysql

  gitlab:
    image: gitlab/gitlab-ce:12.5.6-ce.0
    deploy:
      resources:
        limits:
          memory: 2050M
    ports:
      - "${GITLAB_HTTP_PORT}:80"
      - "${GITLAB_SSH_PORT}:22"
    restart: always
    privileged: true
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '${GITLAB_HOST}'
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        gitlab_rails['initial_root_password'] = "${GITLAB_ROOT_PASSWORD}"
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
    volumes:
      - ${DATA_PATH_HOST}/gitlab/config:/etc/gitlab
      - ${DATA_PATH_HOST}/gitlab/logs:/var/log/gitlab
      - ${DATA_PATH_HOST}/gitlab/data:/var/opt/gitlab

  server:
    image: fcumselab/progedu-tomcat:latest
    build:
      context: ./server
      args:
        - DEBUG=false
    env_file:
      - .env
    ports:
      - "${WEB_PORT}:8080"
    restart: always
    depends_on:
      - db
      - jenkins
      - gitlab
    volumes:
      - ${DATA_PATH_HOST}/server/temp:/usr/local/tomcat/temp
      - ${DATA_PATH_HOST}/server/logs:/usr/local/tomcat/logs
      - ${DATA_PATH_HOST}/server/images:/usr/local/tomcat/images

  jenkins:
    # image: jenkins/jenkins:lts
    image: fcumselab/fcu-progedu-jenkins:latest
    deploy:
      resources:
        limits:
          memory: 1024M
    ports:
      - "${JENKINS_PORT}:8080"
    restart: always
    privileged: true
    environment:
      WEB_SELENIUM_URL: ${WEB_SELENIUM_URL}
    volumes:
      - ${DATA_PATH_HOST}/jenkins:/var/jenkins_home
      - /dev/kvm:/dev/kvm

  selenium:
    image: selenium/standalone-chrome
    ports:
      - "${SELENIUM_PORT}:4444"
    restart: always
    volumes:
      - ${DATA_PATH_HOST}/jenkins/workspace:/var/lib/workspace

  mongo:
    image: fcumselab/progedu-mongo:release-1.0.1
    ports:
      - "${MONGO_PORT}:27017"
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DATABASE: ${MONGO_DATABASE}
    volumes:
      - ${DATA_PATH_HOST}/mongo:/data/db
    command: mongod --auth
