############################## Project Config ##############################
COMPOSE_PROJECT_NAME=ProgEdu
DATA_PATH_HOST=./.data


############################## Database Config ##############################
DB_HOST=db
DB_PORT=23306
DB_USER=ProgEdu
DB_PASSWORD=ProgEdu
DB_DATABASE=ProgEdu
DB_ROOT_PASSWORD=123456
DB_CONNECTION_OPTION=?relaxAutoCommit=true&useSSL=false&useUnicode=true&characterEncoding=utf-8


############################## Jenkins Config ##############################
JENKINS_PORT=8080


############################## Selenium Config ##############################
SELENIUM_PORT=4444


############################## Gitlab Config ##############################
GITLAB_HOST=http://gitlab.example.com:22080
GITLAB_SSH_PORT=22022
GITLAB_HTTP_PORT=22080
GITLAB_ROOT_PASSWORD=rootrootrootroot


############################## ProgEdu Config ##############################
WEB_EXTERNAL_URL=http://example.com:22000
WEB_PORT=22000


############################## ProgEdu Jenkins Connection Config ##############################
WEB_JENKINS_URL=http://jenkins:8080
WEB_JENKINS_API_TOKEN={replace token}
WEB_JENKINS_ADMIN_USERNAME=admin
WEB_JENKINS_ADMIN_PASSWORD=admin


############################## ProgEdu Selenium Connection Config ##############################
WEB_SELENIUM_URL=http://example.com:4444


############################## ProgEdu Gitlab Connection Config ##############################
WEB_GITLAB_ADMIN_USERNAME=root
WEB_GITLAB_ADMIN_PERSONAL_TOKEN={replace token}


############################## ProgEdu Mailer Config ##############################
MAIL_USER=admin@example.com
MAIL_PASSWORD=example-password


############################## Build Config ##############################
WEB_API_BASEURI=
# WEB_API_BASEURI=/ProgEdu

LOG_LEVEL=error
