<div class="animated fadeIn">
  <!-- Nav tabs -->
  <div class="row">
    <div class="col-md-10">
      <tabset>
        <tab id="bar-chart"  >
          <ng-template tabHeading ><i class="cil-chart"></i> Commit Result</ng-template>
          <app-bar-chart *ngIf='commits' [barChartLabels]='labels' [barChartData]='barChartData'></app-bar-chart>
        </tab>
        <tab id="mixed-chart">
          <ng-template tabHeading><i class="cil-chart-line"></i>Commit Count and Build Result</ng-template>
          <app-mixed-chart *ngIf='commits' [mixedChartLabels]='labels' [mixedChartData]='mixedChartData'></app-mixed-chart>
        </tab>
        <tab id="bubble-chart">
          <ng-template tabHeading><i class=""></i>Commit Record</ng-template>
          <app-bubble-chart *ngIf='commits' [bubbleChartData]='bubbleChartData' [bubbleChartLabels]='bubbleChartLabels'></app-bubble-chart>
        </tab>
      </tabset>
    </div>
  </div>
</div>
