<div *ngIf='displayCommits'>
  <ng-container *ngFor="let reviewFeedback of reviewFeedbacks;index as i;">
    <span class="h2">
      <div class="form-group row" style="margin-right: 5px;">
        <label class="col-md-7 col-form-label">審查結果 - {{i+1}}</label>
        <label class="col-md-5 col-form-label" style="text-align: right;" *ngIf=isTeacher>審查人：
          {{reviewFeedback.name}}</label>
      </div>
    </span>
    <div class="card-body" id='reviewFeedback-bar'>
      <div class="form-group row" style="margin-right: 5px;">
        <h3 class="col-md-10" style="padding-bottom: 10px;">第 {{currentReviewPagination[i]}} 輪</h3>
        <input *ngIf="isTeacher && isShowReviewButton[i]" type="button" class="btn btn-outline-primary col-sm-1 col-md-2" value="Fill Review Form"
                (click)="reviewFormFillModal.show();setReviewOne(i);emitReviewFormOpenedEvent();">
      </div>
      <table class='table table-responsive-sm table-bordered table-hover table-outline'>
        <thead class="thead-light">
          <tr>
            <th class='w-20'>審查項目</th>
            <th class='w-5'>審查結果</th>
            <th class='w-70'>審查意見</th>
            <th class='w-5'>審查意見的幫助程度</th>
          </tr>
        </thead>
        <tr *ngFor="let reviewDetail of reviewFeedback.Detail;index as j" id='reviewFeedback-bar'>
          <td>
            {{reviewDetail.metrics}}
          </td>
          <ng-container *ngIf="reviewDetail.scoreMode === 'yesNoMode'">
            <td *ngIf="reviewDetail.score===1">
              Pass
            </td>
            <td *ngIf="reviewDetail.score===2" style="color:red;">
              Failed
            </td>
          </ng-container>
          <td *ngIf="reviewDetail.scoreMode === 'numberScore'">
            {{ reviewDetail.score}}
          </td>
          <td *ngIf="reviewDetail.feedback">
              {{ reviewDetail.feedback }}
          </td>
          <td *ngIf="reviewDetail.score == 2">
            <button *ngIf="reviewDetail.feedbackScore == undefined" type="button" class="btn btn-secondary"
              (click)="setReviewOne(i);openReviewFeedbackModal(currentReviewPagination[i], reviewDetail, j);feedbackFormFillModal.show()">
                對審查意見進行評分</button>
              <div *ngIf="reviewDetail.feedbackScore !== undefined">{{getFeedbackScoreDetail(reviewDetail.feedbackScore)}}</div>
          </td>
          <td *ngIf="reviewDetail.score == 1">Pass</td>
        </tr>
      </table>
      <hr>
      <div class="col-lg-12 h-25 mw-5">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="preReviewPage(i);">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0);"
              (click)="currentReviewPagination[i] = currentReviewPagination[i]">{{currentReviewPagination[i]}}</a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="nextReviewPage(i);">Next</a></li>
        </ul>
      </div>
      <hr>
    </div>
  </ng-container>
</div>
<div *ngIf='displayCommits'>
  <span class="h2">Commit Record</span>
  <div class="card-body">
    <div class='col-md-12 d-flex flex-row text' *ngIf=isTeacher>
      <span class="ovol NB ">
        Not Build
      </span>
      <span *ngIf="type !== 'WEB'" class="ovol CPF">
        Compile Failure
      </span>
      <span class="ovol CSF">
        Coding Style Failure
      </span>
      <span *ngIf="type === 'WEB'" class="ovol WHF">
        HTML Failure
      </span>
      <span *ngIf="type === 'WEB'" class="ovol WSF">
        CSS Failure
      </span>
      <span *ngIf="type === 'WEB'" class="ovol WEF">
        JavaScript Failure
      </span>
      <span class="ovol UTF">
        Unit Test Failure
      </span>
      <span *ngIf="type === 'ANDROID'" class="ovol UITF">
        UI Test Failure
      </span>
      <span class="ovol BS">
        Build Success
      </span>
    </div>
    <hr>
    <div class="col-lg-12 h-25 mw-5">
      <table class='table table-striped table-responsive-sm text-center'>
        <thead class="thead-light">
          <tr>
            <th>Commit </th>
            <th *ngIf=isTeacher>Light </th>
            <th>Date</th>
            <th>Commit Message</th>
            <th *ngIf='showCommiter'>Committer</th>
            <th *ngIf="isShowScreenshot()">Screenshot</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commit of displayCommits" id='feedback-bar' (click)='updateFeedback(commit.number)'>
            <td class='w-10'>{{commit.number}}</td>
            <td *ngIf=isTeacher>
              <p class="circle {{commit.status}}"></p>
            </td>
            <td class='w-25'>{{commit.time | date:'short'}}</td>
            <td class='w-50'>{{commit.message}}</td>
            <td *ngIf='showCommiter'>{{commit.committer}}</td>
            <td *ngIf="isShowScreenshot()"><button class="btn btn-primary" (click)='screenshot.screenshotModal.show();'>
                <i class="cui-screen-desktop"></i></button></td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="prePage();">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="javascript:void(0);"
            (click)="currentPagination = currentPagination">{{currentPagination}}</a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="nextPage();">Next</a></li>
      </ul>
    </div>
    <hr>
    <ng-container *ngIf=isTeacher>
      <span><a>
          <h3>Feedback Information {{commitNumber}}</h3>
        </a></span>
      <table class='table table-responsive-sm table-bordered table-hover table-outline'>
        <thead class="thead-light">
          <tr>
            <th class='w-20'>fileName</th>
            <th class='w-10'>Line</th>
            <th class='w-30'>Message</th>
            <th class='w-30'>Symptom</th>
            <th>Suggest</th>
          </tr>
        </thead>
        <tr *ngFor="let feedback of feedbacks" id='feedback-bar'>
          <td>
            <pre>{{feedback.fileName}}</pre>
          </td>
          <td>
            <pre>{{feedback.line}}</pre>
          </td>
          <td>
            <pre [innerHTML]='feedback.message | lineBreaks'></pre>
          </td>
          <td>
            <pre>{{feedback.symptom}}</pre>
          </td>
          <td>
            <pre><a href='{{feedback.suggest}}' target="blank">{{feedback.suggest}}</a></pre>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>

<!-- Review Form Fill Modal -->
<div bsModal #reviewFormFillModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-md-8">Review Form</h4>
        <button type="button" class="btn btn-outline-primary col-md-3" (click)="downloadSourceCode()">Download Source
          Code</button>
        <button type="button" class="close" (click)="reviewFormFillModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Review Form Fill Main-->
      <form class="form-horizontal">
        <div class="modal-body">
          <ng-container *ngFor="let metric of reviewMetrics;index as i">
            <div class="form-group row">
              <label class="col-md-10 col-form-label" for="metrics"> {{i+1}}. {{metric.metrics}} ?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="method{{i}}" #radioYes id="methodRadio1" type="radio"
                  (change)="answerChanged($event,metric)">Yes
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="method{{i}}" #radioNo id="methodRadio2" type="radio"
                  (change)="answerChanged($event,metric)">No
              </div>
              <ng-container *ngIf="metric.mode === 'SCOREMODE'">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="method{{i}}" #radioScore id="methodRadio1"
                    type="radio">1
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="method{{i}}" #radioScore id="methodRadio2"
                    type="radio">2
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="method{{i}}" #radioScore id="methodRadio2"
                    type="radio">3
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="method{{i}}" #radioScore id="methodRadio2"
                    type="radio">4
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="method{{i}}" #radioScore id="methodRadio2"
                    type="radio">5
                </div>
              </ng-container>
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <p>{{metric.description}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p>Feedback:</p>
              <div class="col-md-12">
                <textarea id="feedback" name="feedback{{i}}" rows="3" class="form-control" #feedbackInput type="text"
                  placeholder="Write down new suggest..." (change)="feedbackChanged($event,i,metric)"></textarea>
              </div>
            </div>
            <br>
          </ng-container>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]='submitDisabled'
              (click)="createReviewForm();reviewFormFillModal.hide();">Submit</button>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Review Form Modal -->
<div bsModal #feedbackFormFillModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-md-6">審查意見的幫助程度</h4>
        <button type="button" class="close" (click)="feedbackFormFillModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Review Form Main-->
      <form class="form-horizontal" *ngIf="onClickedReviewDetail">
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-9 col-form-label" for="description">&emsp;{{onClickedReviewDetail.metrics}}</label>
            <div class="form-check form-check-inline mr-1">
              {{onClickedReviewDetail.score === 1 ? 'Yes' : 'No'}}
            </div>
          </div>
          <div class="col-md-12">
            <p>FeedBack:</p>
            <div class="col-md-12">
              <textarea readonly id="feedback" name="feedback" rows="3" class="form-control" type="text"
              >{{onClickedReviewDetail.feedback}}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-body" *ngFor="let col of [].constructor(5); let i = index">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feedbackScore" #radioFeedbackScore id="scoreRadio{{i}}" (click)="checkFeedbackForm()">
            <label *ngIf="i == 0" class="form-check-label" for="scoreRadio{{i}}">
              0, 沒有意義的審查意見
            </label>
            <label *ngIf="i == 1" class="form-check-label" for="scoreRadio{{i}}">
              1, 較沒有幫助的審查意見
            </label>
            <label *ngIf="i == 2" class="form-check-label" for="scoreRadio{{i}}">
              2, 一般的審查意見
            </label>
            <label *ngIf="i == 3" class="form-check-label" for="scoreRadio{{i}}">
              3, 有幫助的審查意見
            </label>
            <label *ngIf="i == 4" class="form-check-label" for="scoreRadio{{i}}">
              4, 非常有幫助且詳細的審查意見
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]='feedbackSubmitDisabled'
            (click)="createFeedbackForm();reviewFormFillModal.hide();">Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<app-screenshot [screenshotUrls]=screenshotUrls [commitNumber]=commitNumber [type]=type #screenshot>
</app-screenshot>
