<div class="animated fadeIn">
  <div class='card'>
    <div class='card-header'>
      <div class='input-group'>
        <span class="input-group-prepend">
          <button class="btn btn-primary" type="button" [disabled]='true'><i class="fa fa-search"></i></button></span>
        <input type='text' placeholder="Search" class='form-control col-md-2' [(ngModel)]='search'>
        <div class='ml-auto'>
          <span class="ovol NB">
            Initial
          </span>
          <span class="ovol POR">
            Ongoing
          </span>
          <span class="ovol BS">
            End
          </span>
        </div>
      </div>
    </div>
    <div class='card-body' style="overflow-x:auto;">
      <table class='table table-striped' style="text-align:center;">
        <thead>
          <tr>
            <th width="15%" class='text-left'></th>
            <th width="10%" *ngFor='let col of assignmentTable'>{{col.name}}</th>
            <th class='text-left'></th>
          </tr>
          <tr>
            <th width="15%" class='text-left'>Now Round / <br>Total Round</th>
            <th width="10%" *ngFor='let review of assignmentTable; index as i'>
              <p class="circle {{getStatus(i)}}">
                <a *ngIf='!isNA(review)'
                  id="{{review.name}}_{{review.amount}}_{{review.round}}"
                  style="color: white;" href="#/dashboard/reviewRoundDashboard?assignmentName={{review.name}}">{{getNowRound(i)}}/{{review.round}}</a>
                <a *ngIf='isNA(review)'>N/A</a>
              </p>
            </th>
            <th class='text-left'></th>
          </tr>
        </thead>
        <!--<tbody>
          <tr *ngFor='let student of allStudentCommitRecord | filter:search'>
            <th class='text-left' width="10%">
              {{student.name}}
            </th>
            <th *ngFor='let review of student.reviewStatus'>
              <p id="{{student.username}}_{{review.assignmentName}}" class="square {{review.status}}">
                <a *ngIf='!isNA(review)'
                  id="{{student.username}}_{{review.assignmentName}}_{{review.count}}"
                  style="color: white;">{{review.count}}/{{review.amount}}</a>
                <a *ngIf='isNA(review)'>N/A</a>
              </p>
            </th>
            <th class='text-left'></th>
          </tr>
        </tbody>-->
      </table>
    </div>
  </div>
</div>
