<div class="animated fadeIn">
  <div class="col-sm-6">
    <div class="card">
      <div class='card-header'>
        {{assignmentName}}_{{commitNumber}}
      </div>
      <div class="body">
        <div style="border:1px #000000 solid;">
          <carousel [interval]="false" style="background:black">
            <slide *ngFor='let url of urls'>
              <a *ngIf='url' href='{{url}}' target="_blank">
                <img src="{{url}}" alt="Screenshot" style="display: block;width: 100%;">
              </a>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
