<h1 style="text-align: center">Overview</h1>
<div class='card'>
  <div class='card-header'>
    <div class='input-group'>
      <span class="input-group-prepend">
        <button class="btn btn-primary" type="button" [disabled]='true'><i class="fa fa-search"></i>
          Search</button></span>
      <input type='text' class='form-control col-md-2' [(ngModel)]='search'>
      <div class='ml-auto'>
        <span class="ovol NB">
          Not Build
        </span>
        <span class="ovol CPF">
          Compile Failure
        </span>
        <span class="ovol CSF">
          Checkstyle Failure
        </span>
        <!-- <p class="ovol plagirism" style="padding: 5px 10px;"><fmt:message key="dashboard_p_plagiarism"/></p> -->
        <span class="ovol UTF">
          Unit Test Failure
        </span>
        <span class="ovol BS">
          Build Success
        </span>
      </div>
    </div>
  </div>
  <div class='card-body' style="overflow-x:auto;">
    <table class='table table-striped' style="text-align:center;">
      <thead>
        <tr>
          <th width="10%" class='text-left'>學生</th>
          <th width="10%" *ngFor='let head of tableHead'>{{head.name}}</th>
          <th class='text-left'></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let student of allStudentCommitRecord | filter:search'>
          <th class='text-left' width="10%">
            {{student.username}}
            <br>
            {{student.name}}
          </th>
          <th *ngFor='let commit of student.commitRecord'>

            <p id="{{student.username}}_{{commit.assignmentName}}" class="circle {{commit.commitRecord.status}}">
              <a id="{{student.username}}_{{commit.assignmentName}}_{{commit.commitRecord.commitNumber}}"
                href="#/dashboard/dashProjectChoosed?username={{student.username}}&assignmentName={{commit.assignmentName}}">{{commit.commitRecord.commitNumber}}</a>
            </p>
          </th>
          <th class='text-left'></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
