<h1>總覽</h1>
<div class='card'>
  <div class='card-header'>
    <i class='fa fa-align-justify'></i>
    <div class="card-header-actions">
      <label>Search:</label>
      <input type='text' [(ngModel)]='search'>
    </div>
  </div>
  <div class='card-body'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th class='text-left'>學生</th>
          <th *ngFor='let head of tableHead' class='text-center'>{{head.hw}}
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let student of studentDatas | filter:search' class='text-center'>
          <th class='text-left'>
            {{student.userName | uppercase}}
            <br>
            {{student.name }}
          </th>
          <th *ngFor='let commit of student.commits' class='text-center'>
            {{commit.commit}}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
