<div *ngIf="screenshotUrls" [collapse]="isCollapsed">
  <span class="h2">Screenshot : {{selectedScreenshotName}}</span>
  <div style="border:1px #000000 solid;" (click)="updateScreenshotName()">
    <carousel [interval]="false" style="background:black">
      <slide *ngFor='let url of screenshotUrls'>
        <a *ngIf='url' href='{{url}}' target="_blank">
          <img class='screenshot rounded' src="{{url}}" alt="Screenshot" style="display: block;height: 500px;">
        </a>
      </slide>
    </carousel>
  </div>
</div>
