<h1 style="text-align: center">Assignment List</h1>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="cui-pencil icons"></i>
      <div class="card-header-actions"><button class="btn btn-primary" type="button" (click)="changeToCreatePage();">Add
          more</button></div>
    </div>
    <div class="card-body">
      <table class='table table-striped' style="text-align:center;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Create time
            </th>
            <th>Deadline </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of assignments">
            <td>{{assignment.name}}</td>
            <td>{{assignment.createTime | date:'medium'}}
            </td>
            <td>{{assignment.deadline | date:'medium'}}
            </td>
            <td><button id="{{assignment.name}}" class="btn btn-info"
                (click)="editModal.show();setSelectAssignment(assignment.name)"><i
                  class="cui-pencil icons"></i></button>
            </td>
            <td>
              <button id="{{assignment.name}}" class="btn btn-danger" type="button" data-toggle="modal"
                (click)="deleteModal.show();setSelectAssignment(assignment.name)"><i
                  class="cui-trash icons"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--Alert Delete Assignment Modal-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Assignment</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Delete Assignment Main-->
      <div class="modal-body">
        <p>Do you Want to Delete this "{{assignmentName}}" Assignment&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteAssignment()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--Edit Assignment Modal-->
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Assignment "{{assignmentName}}"</h4>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Edit Assignment Main-->
      <form *ngIf='assignmentForm' class="form-horizontal" [formGroup]="assignmentForm" (ngSubmit)='editAssignment()'>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="releaseTime">ReleaseTime</label>
            <div class="col-md-9">
              <input class="form-control" id="releaseTime" type="datetime-local" name="releaseTime"
                formControlName='releaseTime'>
              <span *ngIf="!assignmentForm.get('releaseTime').valid" class="help-block">Please enter a valid date</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="deadline">Deadline</label>
            <div class="col-md-9">
              <input class="form-control" id="deadline" type="datetime-local" name="deadline"
                formControlName='deadline'>
              <span *ngIf="!assignmentForm.get('deadline').valid" class="help-block">Please enter a valid date</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="readMe"> Assignment Description</label>
            <div class="col-md-9">
              <textarea id="readMe" name="readMe" rows="9" class="form-control" placeholder="Content.."
                formControlName='readMe'></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="test-case">Test Case File (accept zip)</label>
            <div class="col-md-9">
              <input type="file" id="test-case" name="test-case" (change)="updateTestCase($event)">
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]='!assignmentForm.valid'>Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
