<div class="animated fadeIn">
  <!-- Nav tabs -->
  <div class="row">
    <div class="col-md-4">
      <tabset>
        <tab id="add-one-student">
          <ng-template tabHeading><i class="icon-calculator"></i> Add One Student</ng-template>
          <form *ngIf="OneStudentForm" [formGroup]="OneStudentForm" (ngSubmit)="addOneStudent()">
            <div class="form-group col-sm-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name"
                required>
            </div>
            <div class="form-group col-sm-6">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your Username"
                formControlName="username" required>
            </div>
            <div class="form-group col-sm-6">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" placeholder="Enter your password"
                formControlName="password" required>
            </div>
            <div class="form-group col-sm-6">
              <label for="email">Email</label> <input type="text" class="form-control" id="email"
                placeholder="Enter your email" formControlName="email" required>
            </div>
            <div id='confirmPassword-invalid-feedbacks' class='invalid-feedback'>
              Please sure the confirm password
            </div>
            <button class="btn btn-primary" stype type="submit">Add
              more</button>
            <div class="form-group" style="text-align: right;">
            </div>
          </form>
        </tab>
        <tab id="add-muti-student">
          <ng-template tabHeading><i class="icon-basket-loaded"></i> Add Muti Student</ng-template>
          <form (ngSubmit)="addMutipleStudent()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Sdutent file Example
              </label>
              <div class="col-md-9">
                <a href="{{SERVER_URL}}/ProgEdu/resources/StudentTemplate.csv" download>
                  <button class="btn btn-primary" type="button">download</button>
                </a>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Upload Student files(accept csv)
              </label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="file-input" (change)="changeFileLister($event)">
              </div>
            </div>
            <div class="form-group" style="text-align: center;">
              <button class="btn btn-primary" type="submit">Upload</button>
            </div>
          </form>
        </tab>
      </tabset>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="user.display === true">Active</span>
                  <span class="badge badge-danger" *ngIf="user.display === false">Drop</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
