<div class="animated fadeIn">
  <!-- Nav tabs -->
  <tabset>
    <tab id="add-one-student">
      <ng-template tabHeading><i class="icon-calculator"></i> Add One Student</ng-template>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" placeholder="Enter your id">
        </div>
        <div class="form-group col-sm-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group col-sm-4">
          <label for="email">Email</label> <input type="text" class="form-control" id="email"
            placeholder="Enter your email">
        </div>
      </div>
      <div class="form-group" style="text-align: right;">
        <button class="btn btn-primary" type="button" (click)="changeToCreatePage();">Add
          more</button>
      </div>
    </tab>
    <tab id="add-muti-student">
      <ng-template tabHeading><i class="icon-basket-loaded"></i> Add Muti Student</ng-template>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="file-input">Sdutent file Example
        </label>
        <div class="col-md-9">
          <button class="btn btn-primary" type="button">download</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
        </label>
        <div class="col-md-9">
          <input type="file" id="file-input" name="file-input">
        </div>
      </div>
      <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary" type="button">Upload</button>
      </div>
    </tab>
  </tabset>
  <!--/.col-->
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.userName}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
