<div class="animated fadeIn">
  <div class='card'>
    <div class='card-header'>
      <i class='fa fa-align-justify'></i>
      <div class="card-header-actions">
        <div class='ml-auto'>
          <span class="ovol NB">
            Initial
          </span>
          <span class="ovol UTF">
            Done
          </span>
          <span class="ovol UNDER_REVIEW">
            Under Review
          </span>
          <span class="ovol BS">
            Reviewed
          </span>
        </div>
      </div>
    </div>
    <div class='card-body'>
      <table class='table table-striped' style="text-align:center;">
        <table class='table table-striped' style="text-align:center;">
          <thead>
            <tr>
              <th width="10%" class='text-left'>學生</th>
              <ng-container *ngFor='let col of assignmentTable'>
                <th width="10%" *ngIf='isRelease(col.assessmentTimes[0].startTime)'>
                  <div>{{col.name}}</div>
                </th>
              </ng-container>
              <th class='text-left'></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf='studentCommitRecord'>
              <th class='text-left' width="10%">
                {{username}}
              </th>
              <ng-container *ngFor='let review of studentCommitRecord'>
                <th *ngIf='isRelease(review.assessmentTimes[0].startTime)'>
                  <p id="{{username}}_{{review.assignmentName}}" class="circle {{review.reviewStatus}}">
                    <a *ngIf='!isNA(review)' id="{{username}}_{{review.hw}}_{{review.commitRecordCount}}"
                      href="#/studashboard/reviewAssignmentChoose?username={{username}}&assignmentName={{review.assignmentName}}">{{review.commitRecordCount}}</a>
                    <a *ngIf='isNA(review)'>N/A</a>
                  </p>
                </th>
              </ng-container>
              <th class='text-left'></th>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>
