<div class="animated fadeIn">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h3>
        {{prAssignmentNameList[prAssignmentNameList.length-1]}}
      </h3>
      <div class="row">
        <div class="col-md-3">
          <div class="container teacher-chart-card">
            <div class="container">
              <div class="row" style="height: 50px">
                {{payAssignmentRateDisplay}} %
              </div>
              <div class="row">
                作業繳交率
              </div>
              <div class="row">
                row3
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="container teacher-chart-card">
            <div class="container">
              <div class="row" style="height: 50px">
                {{pr1RateDisplay}} %
              </div>
              <div class="row">
                第一次審查完成率
              </div>
              <div class="row">
                row3
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="container teacher-chart-card">
            <div class="container">
              <div class="row" style="height: 50px">
                {{reviseRateDisplay}} %
              </div>
              <div class="row">
                作業修改率
              </div>
              <div class="row">
                row3
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="container teacher-chart-card">
            <div class="container">
              <div class="row" style="height: 50px">
                {{pr2RateDisplay}} %
              </div>
              <div class="row">
                第二次審查完成率
              </div>
              <div class="row">
                row3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="area-interval"></div>
  <div class="row justify-content-md-center">
    <div class="col-md-10 border">
      <div class="image-area-interval"></div>
      <h3>
        作業
      </h3>
      <div class="area-interval"></div>
      <div class="row justify-content-md-center">
        <div class="col-6 border test-font">
          <div class="image-area-interval"></div>
          班級分布圖
          <div class="image-area-interval"></div>
          <app-scatter-chart *ngIf='isScatterChartReady' [scatterChartData]="scatterChartData" [scatterChartLabels]="scatterChartLabels"></app-scatter-chart>
<!--        <app-scatter-chart></app-scatter-chart>-->
        </div>
        <div class="col-6 border test-font">
          <div class="image-area-interval"></div>
          Metrics錯誤數量
          <div class="image-area-interval"></div>
          <app-bar-chart *ngIf='isBarChartReady' [barChartLabels]='labels' [barChartData]='barChartData'>
          </app-bar-chart>
        </div>
      </div>
      <div class="image-area-interval"></div>
      <div class="row justify-content-md-center">
        <div class="col-12 border test-font">
          整學期Metrics分布圖
        </div>
      </div>
      <div class="image-area-interval"></div>
    </div>
  </div>
  <div class="area-interval"></div>
  <div class="row justify-content-md-center">
    <div class="col-md-10 border">
      <div class="image-area-interval"></div>
      <h3>
        同儕審查
      </h3>
      <div class="row justify-content-md-center">
        <div class="col-6 border test-font">
          同儕審查參與率
        </div>
        <div class="col-6 border test-font">
          修改作業率
        </div>
      </div>
      <div class="image-area-interval"></div>
      <div class="row justify-content-md-center">
        <div class="col-12 border test-font">
          全部通過比例
        </div>
      </div>
      <div class="image-area-interval"></div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-10 border">
      <div class="image-area-interval"></div>
      <h3>
        考試成績
      </h3>
      <div class="row justify-content-md-center">
        <div class="col-6 border test-font">
          同儕審查參與率
        </div>
        <div class="col-6 border test-font">
           班級分布
        </div>
      </div>
      <div class="image-area-interval"></div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-10 border">
      <div class="image-area-interval"></div>
      <h3>
        回饋
      </h3>
      <div class="row justify-content-md-center">
        <div class="col-12 border test-font">
          回饋折線圖
        </div>
      </div>
      <div class="image-area-interval"></div>
    </div>
  </div>
  <div class="area-interval"></div>
  <!-- Nav tabs -->
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <tabset>
        <tab id="bar-chart" (selectTab)="getStatusResultData()">
          <ng-template tabHeading><i class="cil-chart"></i> Commit Result</ng-template>
          <app-bar-chart *ngIf='isBarChartReady' [barChartLabels]='labels' [barChartData]='barChartData'>
          </app-bar-chart>
        </tab>
        <tab id="mixed-chart" (selectTab)="getMixedChartData();">
          <ng-template tabHeading><i class="cil-chart-line"></i>Commit Count and Build Result</ng-template>
          <app-mixed-chart *ngIf='isMixedChartReady' [mixedChartLabels]='labels' [mixedChartData]='mixedChartData'>
          </app-mixed-chart>
        </tab>
        <tab id="bubble-chart" (selectTab)="getBubbleChartData(selectedAssignment)">
          <ng-template tabHeading><i class=""></i>Commit Time</ng-template>
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              {{selectedAssignment}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor='let commit of commits' role="menuitem">
                <a class="dropdown-item" href="javascript:void(0);"
                   (click)='getBubbleChartData(commit.name)'>{{commit.name}}</a>
              </li>
            </ul>
          </div>
          <hr/>
          <app-bubble-chart *ngIf='isbubbleChartReady' [title]='selectedAssignment' [bubbleChartData]='bubbleChartData'
                            [bubbleChartLabels]='bubbleChartLabels'>
          </app-bubble-chart>
        </tab>
      </tabset>
    </div>
  </div>
</div>
