.teacher-chart-card{
  //width: 65%;
  background-color: #321fdb;
  color: #ffffff;
  border-radius: 10px;
}

.teacher-chart-card-title{
  font-size: medium;
}

.area-interval {
  height: 15px;
}

.image-area-interval {
  height: 10px;
}

.test-font {
  font-weight: bold;
  font-size: 20px;
}
