<div class="animated fadeIn">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%; font-size: large">{{ prAssignmentNameList[prAssignmentNameList.length-1] }}</div>
        <div class="row">
          <div class="col-md-3">
            <div class="card"  style="background-color: #321fdb; border-radius: 10px">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; color: #FFFFFF">
                  作業繳交率
                </h5>
                <h5 style="font-weight: bold; color: #FFFFFF">
                  {{payAssignmentRate[payAssignmentRate.length - 1]}} %
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card"  style="background-color: #321fdb; border-radius: 10px">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; color: #FFFFFF">
                  第一次審查完成率
                </h5>
                <h5 style="font-weight: bold; color: #FFFFFF">
                  {{pr1Rate[pr1Rate.length - 1]}} %
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card"  style="background-color: #321fdb; border-radius: 10px">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; color: #FFFFFF">
                  作業修改率
                </h5>
                <h5 style="font-weight: bold; color: #FFFFFF">
                  {{reviseRateLineChartData[0].data[reviseRateLineChartData[0].data.length - 1]}} %
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card"  style="background-color: #321fdb; border-radius: 10px">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; color: #FFFFFF">
                  第二次審查完成率
                </h5>
                <h5 style="font-weight: bold; color: #FFFFFF">
                  {{pr2Rate[pr2Rate.length - 1]}} %
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">作業</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">作業繳交率</h5>
                <app-line-chart *ngIf="ispayAssignmentRateReady" [lineChartLabels]="prAssignmentNameList"
                                [lineChartData]="payAssignmentRateLineChartData"
                                [lineChartLegend]=false></app-line-chart>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">班級成績分布圖</h5>
                <app-scatter-chart *ngIf='isScatterChartReady' [scatterChartData]="scatterChartData"
                                   [scatterChartLabels]="scatterChartLabels"
                                   [scatterChartLegend]=false></app-scatter-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Metrics 錯誤人數 - 班級總人數 {{userNameList.length}} 人</h5>
                <div class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{selectedMetricsAssignment}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor='let prAssignmentName of prAssignmentNameList' role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)='setMetricsCountChartData(prAssignmentName)'>{{prAssignmentName}}</a>
                    </li>
                  </ul>
                </div>
                <div style="padding-bottom: 2%"></div>
                <app-bar-chart *ngIf='isMetricsCountChartReady' [barChartLabels]='allMetrics'
                               [barChartData]='MetricsCountChartData'>
                </app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">整學期 Metrics 錯誤人數分布圖 - 班級總人數 {{userNameList.length}} 人</h5>
                <app-mixed-chart *ngIf='isWholeSemesterMetricsChartReady' [mixedChartLabels]='allMetrics' [mixedChartData]='wholeSemesterMetricsChartData'>
                </app-mixed-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">同儕審查</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">同儕審查參與率</h5>
                <app-line-chart *ngIf="isPrRateLineChartReady" [lineChartLabels]="prAssignmentNameList"
                                [lineChartData]="prRateLineChartData" [lineChartLegend]=true></app-line-chart>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">修改作業率</h5>
                <app-line-chart *ngIf="isReviseRateLineChartReady" [lineChartLabels]="prAssignmentNameList"
                                [lineChartData]="reviseRateLineChartData" [lineChartLegend]=true></app-line-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">審查完全通過人數 - 班級總人數 {{userNameList.length}} 人</h5>
                <app-bar-chart *ngIf="isPassAllMetricsBarChartReady" [barChartLabels]='prAssignmentNameList'
                               [barChartData]='passAllMetricsBarChartData' [barChartLegend]=true></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">考試成績</h3>
        <div class="row" style="padding-left: 2%">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              {{selectedExam}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor='let examName of examNameList' role="menuitem">
                <a class="dropdown-item" href="javascript:void(0);"
                   (click)='getExamScore(examName)'>{{examName}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div style="padding-bottom: 1%;"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="card" *ngIf="isExamScoreTableReady">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">考試成績</h5>
                <table *ngIf="!isExamScoreTableEmpty; else isEmpty">
                  <tr>
                    <th>考試名稱</th>
                    <td>{{selectedExam}}</td>
                  </tr>
                  <tr>
                    <th>最高分</th>
                    <td>{{examScoreMax}}</td>
                  </tr>
                  <tr>
                    <th>班級平均</th>
                    <td>{{examScoreMAvg}}</td>
                  </tr>
                  <tr>
                    <th>最低分</th>
                    <td>{{examScoreMin}}</td>
                  </tr>
                </table>
                <ng-template #isEmpty>
                  <table *ngIf="isExamScoreTableEmpty">
                    <tr>
                      <th>考試名稱</th>
                      <td>{{selectedExam}}</td>
                    </tr>
                    <tr>
                      <th>最高分</th>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <th>班級平均</th>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <th>最低分</th>
                      <td>N/A</td>
                    </tr>
                  </table>
                </ng-template>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body" *ngIf='isExamScoreTableReady'>
                <h5 class="card-title" style="font-weight: bold;">班級分布 - {{selectedExam}}</h5>
                <app-bar-chart [barChartLabels]='examRange' [barChartData]='examBarChartData' [barChartLegend]=false>
                </app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">回饋</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">回饋分數折線圖</h5>
                <app-mixed-chart *ngIf='isFeedbackScoreChartReady' [mixedChartLabels]='prAssignmentNameList' [mixedChartData]='feedbackMixedChartData'>
                </app-mixed-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="area-interval"></div>
  <!-- Nav tabs -->
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <tabset>
        <tab id="bar-chart" (selectTab)="getStatusResultData()">
          <ng-template tabHeading><i class="cil-chart"></i> Commit Result</ng-template>
          <app-bar-chart *ngIf='isBarChartReady' [barChartLabels]='labels' [barChartData]='barChartData'>
          </app-bar-chart>
        </tab>
        <tab id="mixed-chart" (selectTab)="getMixedChartData();">
          <ng-template tabHeading><i class="cil-chart-line"></i>Commit Count and Build Result</ng-template>
          <app-mixed-chart *ngIf='isMixedChartReady' [mixedChartLabels]='labels' [mixedChartData]='mixedChartData'>
          </app-mixed-chart>
        </tab>
        <tab id="bubble-chart" (selectTab)="getBubbleChartData(selectedAssignment)">
          <ng-template tabHeading><i class=""></i>Commit Time</ng-template>
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              {{selectedAssignment}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor='let commit of commits' role="menuitem">
                <a class="dropdown-item" href="javascript:void(0);"
                   (click)='getBubbleChartData(commit.name)'>{{commit.name}}</a>
              </li>
            </ul>
          </div>
          <hr/>
          <app-bubble-chart *ngIf='isbubbleChartReady' [title]='selectedAssignment' [bubbleChartData]='bubbleChartData'
                            [bubbleChartLabels]='bubbleChartLabels'>
          </app-bubble-chart>
        </tab>
      </tabset>
    </div>
  </div>
</div>
