<span class="h2">Display Status</span>
<div class="card-body">
  <div id="inline" class='col-md-12'>
    <span class="ovol NB ">
      Not Build
    </span>
    <span *ngIf="type !== 'WEB'" class="ovol CPF">
      Compile Failure
    </span>
    <span class="ovol CSF">
      Coding Style Failure
    </span>
    <span *ngIf="type === 'WEB'" class="ovol WHF">
      HTML Failure
    </span>
    <span *ngIf="type === 'WEB'" class="ovol WSF">
      CSS Failure
    </span>
    <span *ngIf="type === 'WEB'" class="ovol WEF">
      JavaScript Failure
    </span>
    <!-- <p class="ovol plagirism" style="padding: 5px 10px;"><fmt:message key="dashboard_p_plagiarism"/></p> -->
    <span class="ovol UTF">
      Unit Test Failure
    </span>
    <span class="ovol BS">
      Build Success
    </span>
  </div>
  <div class="col-lg-12">
    <table class='table table-striped' style="text-align:center;">
      <thead class="thead-light">
        <tr>
          <th>Commit </th>
          <th>Light </th>
          <th>Date</th>
          <th>Commit Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commit of commits" id='feedback-bar' (click)='updateFeedback(commit.number)'>
          <td>{{commit.number}}</td>
          <td>
            <p class="circle {{commit.status}}"></p>
          </td>
          <td>{{commit.time | date:'short'}}</td>
          <td>{{commit.message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <span><a>
      <h3>Feedback Information {{selectedCommitNumber}}</h3>
    </a></span>
  <table class='table table-responsive-sm table-bordered table-hover table-outline mb-0 text-center'>
    <thead class="thead-light">
      <tr>
        <th>Line</th>
        <th>Message</th>
        <th>Symptom</th>
        <th>Status</th>
        <th>Suggest</th>
      </tr>
    </thead>
    <tr *ngFor="let feedback of feedbacks" id='feedback-bar'>
      <td>{{feedback.line}}</td>
      <td>{{feedback.message}}</td>
      <td>{{feedback.symptom}}</td>
      <td>{{feedback.status}}</td>
      <td>{{feedback.suggest}}</td>
    </tr>
  </table>
</div>
