<div class="animated fadeIn">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">作業</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">作業成績</h5>
                <app-line-chart *ngIf="assignmentScoreChartDisplay" [lineChartLabels]="assignmentNameList" [lineChartData]="assignmentScoreChartData" [lineChartLegend]=true></app-line-chart>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">班級比較</h5>
                <app-scatter-chart *ngIf='scatterChartDisplay' [scatterChartData]="assignmentScatterChartData"
                             [scatterChartLabels]="assignmentNameList" [scatterChartLegend]=false></app-scatter-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">考試</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card" [ngStyle]="{'background-color':examBackgroundColor}">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">考試成績</h5>
                <div class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{selectedExam}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor='let examName of examNameList' role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)='setExamScoreData(examName)'>{{examName}}</a>
                    </li>
                  </ul>
                </div>
                <div class="row" style="padding-top: 5%;">
                  <div class="col-md-2"></div>
                  <table class="table col-md-8" [style.text-align]="'center'">
                    <tbody>
                      <tr class="row">
                        <td class="col-md-6">成績</td>
                        <td class="col-md-6">{{selectedExamScore}}</td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-6">班級平均</td>
                        <td class="col-md-6">{{examAvgScore}}</td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-6">班排名</td>
                        <td class="col-md-6">{{studentExamRank}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">班級分布</h5>
                <app-bar-chart *ngIf="examBarChartDisplay" [barChartLabels]="examBarChartLabel" [barChartData]="examBarChartData" [barChartLegend]=false></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">回饋</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">星星數</h5>
                <div class="col-md-6">
                  <div class="card"  style="background-color: #321fdb; border-radius: 10px">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: bold; color: #FFFFFF">
                        星星數
                      </h5>
                      <h5 style="font-weight: bold; color: #FFFFFF">
                        {{starAvg}}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Feedback Top 5</h5>
                <div class="row" style="padding-top: 5%;">
                  <div class="col-md-2"></div>
                  <table class="table col-md-8" [style.text-align]="'center'">
                    <tbody>
                    <tr class="row justify-content-md-center" *ngFor="let feedbackMsg of feedbackMsgTop; index as i">
                      <td class="col-md-1"></td>
                      <td class="col-md-8">{{i+1}}.&emsp;{{feedbackMsg}}</td>
                      <td class="col-md-1"></td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Feedback Last 5</h5>
                <div class="row" style="padding-top: 5%;">
                  <div class="col-md-2"></div>
                  <table class="table col-md-8" [style.text-align]="'center'">
                    <tbody>
                    <tr class="row justify-content-md-center" *ngFor="let feedbackMsg of feedbackMsgLast; index as i">
                      <td class="col-md-1"></td>
                      <td class="col-md-8">{{i+1}}.&emsp;{{feedbackMsg}}</td>
                      <td class="col-md-1"></td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">排行</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">作業成績排行</h5>
                <div class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{selectedAssignment}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor='let assignmentName of assignmentNameList' role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)='updateAssignmentScoreRanking(assignmentName)'>{{assignmentName}}</a>
                    </li>
                  </ul>
                </div>
                <div class="row" style="padding-top: 5%;">
                  <div class="col-md-2"></div>
                  <table class="table col-md-8" [style.text-align]="'center'">
                    <tbody>
                      <tr class="row justify-content-md-center" *ngFor="let user of usersRankingByAssignmentScore; index as i">
                        <td class="col-md-2"></td>
                        <td class="col-md-6">{{i+1}}.&emsp;{{user}}</td>
                        <td class="col-md-2"></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">課程參與率排行</h5>
                <div class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{selectedAssignment}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor='let assignmentName of assignmentNameList' role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)='updateAssignmentScoreRanking(assignmentName)'>{{assignmentName}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
