<div class="animated fadeIn">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">作業</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">作業成績</h5>
                <app-line-chart *ngIf="assignmentScoreChartDisplay" [lineChartLabels]="assignmentNameList" [lineChartData]="assignmentScoreChartData" [lineChartLegend]=true></app-line-chart>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">班級比較</h5>
                <app-scatter-chart *ngIf='scatterChartDisplay' [scatterChartData]="assignmentScatterChartData"
                             [scatterChartLabels]="assignmentNameList" [scatterChartLegend]=false></app-scatter-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="card-title" style="font-weight: bold; vertical-align: middle; padding-top: 2%;">考試</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">考試成績</h5>
                <div class="btn-group col-md-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{selectedExam}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor='let examName of examNameList' role="menuitem">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)='setExamScoreData(examName)'>{{examName}}</a>
                    </li>
                  </ul>
                </div>
                <div class="row" style="padding-top: 5%;">
                  <div class="col-md-2"></div>
                  <table class="table col-md-8" [style.text-align]="'center'">
                    <tbody>
                      <tr class="row">
                        <td class="col-md-6">成績</td>
                        <td class="col-md-6">{{selectedExamScore}}</td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-6">班級平均</td>
                        <td class="col-md-6">{{examAvgScore}}</td>
                      </tr>
                      <tr class="row">
                        <td class="col-md-6">班排名</td>
                        <td class="col-md-6">{{studentExamRank}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">班級分布</h5>
                <app-bar-chart *ngIf="examBarChartDisplay" [barChartLabels]="examBarChartLabel" [barChartData]="examBarChartData" [barChartLegend]=false></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>