.card {
  padding-left: 3%;
  padding-right: 3%;
}

.dropdown-menu{
  max-height: 200px; /*Provide height in pixels or in other units as per your layout*/
  overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
 }