<div class="animated fadeIn">
    <div><a href="#/studashboard/peerReviewDashboard?username={{username}}"><button class="btn btn-primary" type="button">
        < Back</button></a>
    </div><br>
    <div class='card'>
      <div class='card-header'>
        <i class='fa fa-align-justify'></i>
        <div class="card-header-actions">
          <div class='ml-auto'>
            <span class="ovol NB">
              Initial
            </span>
            <span class="ovol CPF">
              Unfinished Review
            </span>
            <span class="ovol BS">
              Completed Reviewed
            </span>
          </div>
        </div>
      </div>
      <div class='card-body'>
        <div>
            <h3 class='text-left'>{{assignmentName}}</h3>
        </div>
        <table class='table table-striped' style="text-align:center;">
          <table class='table table-striped' style="text-align:center;">
            <thead>
              <tr>
                <th width="10%" class='text-left'>學生</th>
                <ng-container *ngFor='let col of [].constructor(round); let i = index'>
                  <th width="10%">
                    <div>Round {{i + 1}}</div>
                  </th>
                </ng-container>
                <th class='text-left'></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let student of roundStatus; let order = index'>
                <th class='text-left' width="10%">
                  Student {{order + 1}}
                </th>
                <ng-container *ngFor='let review of student.reviewRoundStatus; let roundIndex = index'>
                  <th *ngIf='isRelease(review.startTime)'>
                    <p id="{{username}}_{{review.startTime}}" class="circle {{getStatus(review.status, review.endTime)}}">
                      <a *ngIf='!isNA(review)' id="{{username}}_{{review.status}}"
                        href="#/studashboard/reviewStatusAssignmentChoose?username={{username}}&assignmentName={{assignmentName}}&round={{roundIndex+1}}&order={{order+1}}">0</a>
                      <a *ngIf='isNA(review)'>N/A</a>
                    </p>
                  </th>
                  <th *ngIf='!isRelease(review.startTime)'>
                    <a>N/A</a>
                  </th>
                </ng-container>
                <th class='text-left'></th>
              </tr>
            </tbody>
          </table>
        </table>
      </div>
    </div>
  </div>