<div class="animated fadeIn">
  <div class='card'>
    <div class='card-header'>
      <i class='fa fa-align-justify'></i>
      <div class="card-header-actions">
        <div class='ml-auto'>
          <span class="ovol NB">
            Not Build
          </span>
          <span class="ovol CPF">
            Compile Failure
          </span>
          <span class="ovol CSF">
            Coding Style Failure
          </span>
          <!-- <p class="ovol plagirism" style="padding: 5px 10px;"><fmt:message key="dashboard_p_plagiarism"/></p> -->
          <span class="ovol UTF">
            Unit Test Failure
          </span>
          <span class="ovol BS">
            Build Success
          </span>
        </div>
      </div>
    </div>
    <div class='card-body'>
      <table class='table table-striped' style="text-align:center;">
        <table class='table table-striped' style="text-align:center;">
          <thead>
            <tr>
              <th width="10%" class='text-left'>學生</th>
              <ng-container *ngFor='let col of assignmentTable'>
                <th width="10%" *ngIf='isRelease(col.releaseTime)'>
                  <div>{{col.name}}</div>
                </th>
              </ng-container>
              <th class='text-left'></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf='studentCommitRecord'>
              <th class='text-left' width="10%">
                {{username}}
              </th>
              <ng-container *ngFor='let commit of studentCommitRecord'>
                <th *ngIf='isRelease(commit.releaseTime)'>
                  <p id="{{username}}_{{commit.assignmentName}}" class="circle {{commit.commitRecord.status}}">
                    <a *ngIf='!isNA(commit)' id="{{username}}_{{commit.hw}}_{{commit.commit}}"
                      href="#/studashboard/assignmentChoose?username={{username}}&assignmentName={{commit.assignmentName}}">{{commit.commitRecord.commitNumber}}</a>
                    <a *ngIf='isNA(commit)'>N/A</a>
                  </p>
                </th>
              </ng-container>
              <th class='text-left'></th>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>
