<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="cui-pencil icons"></i>
      <strong>Create Assignment</strong>
      <div class="card-header-actions"><button class="btn btn-primary" type="button"
          (click)="changeToAssignmentPage();">Assignment List</button></div>
    </div>
    <form [formGroup]="assignment" (ngSubmit)="submit()">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="method">Assessment Method</label>
          <div class="col-md-9">
            <div class="form-check form-check-inline mr-1">
              <input class="form-check-input" type="radio" name="method" id="methodRadio2" value="Auto Assessment"
                formControlName='method' (click)="selectedAssignmentGradingMethod('Auto')">
              <label class="form-check-label" for="methodRadio2">Auto Assessment</label>
            </div>
            <div class="form-check form-check-inline mr-1">
              <input class="form-check-input" type="radio" name="method" id="methodRadio1" value="Peer Review"
                formControlName='method' (click)="selectedAssignmentGradingMethod('Peer')">
              <label class="form-check-label" for="methodRadio1">Peer Review</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="name">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="name" formControlName='name'
              placeholder="Enter Your Assignment Name">
            <div *ngIf="!assignment.get('name').valid" class='invalid-feedback'><span>Your assignment must be less
                than 10 and must be English</span></div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description"> Assignment Description</label>
          <div class="col-md-9">
            <ckeditor [config]="editorConfig" name='description' id="description" formControlName='description'
              [editor]="Editor">
            </ckeditor>
          </div>
        </div>
        <div *ngIf="!peerReviewStatus.isOpen">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="releaseTime">ReleaseTime</label>
            <div class="col-md-9">
              <input class="form-control is-valid" id="releaseTime" type="datetime-local" name="releaseTime"
                formControlName='releaseTime' placeholder="date">
              <span *ngIf="!assignment.get('releaseTime').valid" class="invalid-feedback">Please enter a valid
                date</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="deadline">Deadline</label>
            <div class="col-md-9">
              <input class="form-control is-valid" id="deadline" type="datetime-local" name="deadline"
                formControlName='deadline' placeholder="date">
              <span *ngIf="!assignment.get('deadline').valid" class="invalid-feedback">Please enter a valid date</span>
            </div>
          </div>
        </div>

        <!-- Review Metrics -->
        <div class="grading-method-group" *ngIf="peerReviewStatus.isOpen">
          <div class="form-group row">
            <label class="col-md-1 col-form-label">Time</label>
            <label class="col-md-1 col-form-label"></label>
            <label class="col-md-2 col-form-label">Round</label>
            <label class="col-md-2 col-form-label">Action</label>
            <label class="col-md-3 col-form-label">Start Time</label>
            <label class="col-md-3 col-form-label">End Time</label>
          </div>
          <div formArrayName="reviewTime">
            <div *ngFor="let round of roundTimeArray; let i = index">
              <div [formGroupName]="i">
                <div class="form-group row">
                  <div class="col-md-1"></div>
                  <div class="col-md-1" *ngIf="i == 0"></div>
                  <div class="col-md-1 container" *ngIf="i !== 0">
                    <button class="btn" type="button" (click)="removeRound(i)"><i class="fa fa-trash"></i>
                    </button>
                  </div>
                  <div class="col-md-2">&ensp;{{ i + 1 }}</div>
                  <div class="col-md-2" *ngIf="i == 0">Do Homework</div>
                  <div class="col-md-2" *ngIf="i !== 0">Fix Issues</div>
                  <div class="col-md-3">
                    <input class="form-control" id="{{i}}_startTime" type="datetime-local" name="startTime"
                    formControlName='startTime' placeholder="date">
                    <span *ngIf="!roundTimeArray[i].get('startTime').valid" class="invalid-feedback">Please enter a valid date</span>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" id="{{i}}_endTime" type="datetime-local" name="endTime"
                    formControlName='endTime' placeholder="date">
                  <span *ngIf="!roundTimeArray[i].get('endTime').valid" class="invalid-feedback">Please enter a valid date</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2" *ngIf="i == 0">Review Homework</div>
                  <div class="col-md-2" *ngIf="i !== 0">Approve Homework</div>
                  <div class="col-md-3">
                    <input class="form-control" id="{{i}}_reviewStartTime" type="datetime-local" name="reviewStartTime"
                      formControlName='reviewStartTime' placeholder="date">
                    <span *ngIf="!roundTimeArray[i].get('reviewStartTime').valid" class="invalid-feedback">Please enter a valid
                      date</span>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" id="{{i}}_reviewEndTime" type="datetime-local" name="reviewEndTime"
                      formControlName='reviewEndTime' placeholder="date">
                    <span *ngIf="!roundTimeArray[i].get('reviewEndTime').valid" class="invalid-feedback">Please enter a valid date</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="roundTimeArray.length < 4">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <button class="btn btn-sm" type="button" (click)="addRoundNums()">+</button>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="commitRecordCount">Number of Reviewers</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="commitRecordCount" formControlName='commitRecordCount' placeholder="Enter Your Number">
              <div *ngIf="!assignment.get('commitRecordCount').valid" class='invalid-feedback'><span>Your must enter right number of reviewers</span></div>
            </div>
          </div>

          <!-- Selection Head -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="method">Review Metrics</label>
            <label class="col-md-2 col-form-label text-center" for="method">Category</label>
            <label class="col-md-6 col-form-label text-center" for="method">Metrics</label>
          </div>
          <!-- Selections -->
          <div class="form-group row" *ngFor="let number of reviewMetricsNums">
            <div class="col-md-3"></div>
            <div class="col-md-2 container mt-3">
              <select #selectCategory name="category" class="custom-select mb-3" placeholder="Select Category"
                [(ngModel)]="onSelectedCategory[number]" [ngModelOptions]="{standalone: true}"
                (change)="setCategory(number,selectCategory.value)">
                <option [ngValue]="null" [disabled]="true">Select Category</option>
                <option *ngFor="let category of categories; index as i" [value]="i">
                  {{category.name}}
                </option>
              </select>
            </div>
            <div class="col-md-6 container mt-3">
              <select #selectMetrics name="metrics" class="custom-select mb-3" placeholder="Select Metrics"
                [(ngModel)]="onSelectedMetrics[number]" [ngModelOptions]="{standalone: true}"
                (change)="setMetrics(number,selectMetrics.value)">
                <option [ngValue]="null" [disabled]="true">Select Metrics</option>
                <ng-container *ngIf="onSelectedCategory[number] != undefined">
                  <option *ngFor="let assessment of categories[onSelectedCategory[number]].allMetrics; index as j"
                    [value]="j">
                    {{assessment.metrics}}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-1 container mt-3">
              <button class="btn" type="button" (click)="removeReviewMetrics(number)"><i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <!-- Review Metrics Buttons-->
          <div class="form-group row">
            <div class="col-md-3"></div>
            <div *ngIf="reviewMetricsNums.length < 10">
              <button class="btn btn-sm" type="button" (click)="addReviewMetrics()">+</button>
            </div>
          </div>
        </div>

        <div class="grading-method-group">
          <!--tabs-->
          <!-- Nav tabs -->
          <tabset>
            <!---- Java ---->
            <tab heading="Java">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="type">Type Radios</label>
                <div class="col-md-9">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="javac"
                      formControlName='type'>
                    <label class="form-check-label" for="inlineRadio1">Java</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="maven"
                      formControlName='type'>
                    <label class="form-check-label" for="inlineRadio2">Maven</label>
                  </div>
                </div>
              </div>
              <div *ngIf="showAssessment && !peerReviewStatus.isOpen">
                <div class="form-group row">
                  <div class="col-md-3">Assignment Assessment</div>
                  <div class="col-md-3">Status :</div>
                  <div class="col-md-2">Order & Score :</div>      
                </div>
                <div class="form-group row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <ul class="list-group sortable" [sortablejs]="javaStatus" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of javaStatus">{{ item }}</li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <li class="list-group-item sortable" draggable="false" style="cursor: not-allowed; 
                        background-color: white;">1.&nbsp;Compile Failure
                        <select class="form-control" (change)="selectChangeHandler('maven', 'Compile Failure', $event)">
                          <option *ngFor="let op of getScoreOptions(javaOrder, javaStatusScore, 'Compile Failure')" value="{{ op }}">{{ op }}%</option>
                        </select>
                    </li>
                    <ul class="list-group sortable" [sortablejs]="javaOrder" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of javaOrder; let i = index;">{{ i + 2 }}. {{ item }}
                        <select class="form-control" (change)="selectChangeHandler('maven', item, $event)">
                          <option *ngFor="let op of getScoreOptions(javaOrder, javaStatusScore, item)" value="{{ op }}">{{ op }}%</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="inline-radios">Java File</label>
                <div class="col-md-9">
                  <div class="btn-group" dropdown [isOpen]="javaTabStatus.isOpen" placement="top">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      <i class="icon-cloud-download"></i><span class="caret"> template</span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item" href="{{NEW_SERVER_URL}}/assignment/getJavaAssignmentFile"
                          download>JavacQuickStart.zip</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" (click)="confirm(javaOrder)" style="cursor: pointer;"
                          download>MvnQuickStart.zip</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
                </label>
                <div class="col-md-9">
                  <input type="file" name="file-input" (change)='fileListener($event)'>
                </div>
              </div>
            </tab>
            <!---- App ---->
            <tab heading="App" (click)="selectedAssignmentType('Android')">
              <div *ngIf="!peerReviewStatus.isOpen">
                <div class="form-group row">
                  <div class="col-md-3">Assignment Assessment</div>
                  <div class="col-md-3">Status :</div>
                  <div class="col-md-2">Order & Score :</div>       
                </div>
                <div class="form-group row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <ul class="list-group sortable" [sortablejs]="appStatus" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of appStatus">{{ item }}</li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <li class="list-group-item sortable" draggable="false" style="cursor: not-allowed; 
                          background-color: white;">1.&nbsp;Compile Failure
                          <select class="form-control" (change)="selectChangeHandler('android', 'Compile Failure', $event)">
                            <option *ngFor="let op of getScoreOptions(appOrder, appStatusScore, 'Compile Failure')" value="{{ op }}">{{ op }}%</option>
                          </select>
                      </li>
                    <ul class="list-group sortable" [sortablejs]="appOrder" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of appOrder; let i = index;">{{ i + 2 }}. {{ item }}
                        <select class="form-control" (change)="selectChangeHandler('android', item, $event)">
                          <option *ngFor="let op of getScoreOptions(appOrder, appStatusScore, item)" value="{{ op }}">{{ op }}%</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Android File</label>
                <div class="col-md-9">
                  <div class="btn-group" dropdown [isOpen]="androidTabStatus.isOpen" placement="top">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      <i class="icon-cloud-download"></i><span class="caret"> template</span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="{{NEW_SERVER_URL}}/assignment/getAndroidAssignmentFile"
                          download>AndroidQuickStart.zip</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
                </label>
                <div class="col-md-9">
                  <input type="file" name="file-input" (change)='fileListener($event)'>
                </div>
              </div>
            </tab>
            <!---- Web ---->
            <tab heading="Web" (click)="selectedAssignmentType('Web')">
              <div *ngIf="!peerReviewStatus.isOpen">
                <div class="form-group row">
                  <div class="col-md-3">Assignment Assessment</div>
                  <div class="col-md-3">Status :</div>
                  <div class="col-md-2">Order & Score :</div>       
                </div>
                <div class="form-group row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <ul class="list-group sortable" [sortablejs]="webStatus" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of webStatus">{{ item }}</li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-group sortable" [sortablejs]="webOrder" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of webOrder; let i = index;">{{ i+1 }}. {{ item }}
                        <select class="form-control" (change)="selectChangeHandler('web', item, $event)">
                          <option *ngFor="let op of getScoreOptions(webOrder, webStatusScore, item)" value="{{ op }}">{{ op }}%</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Web File</label>
                <div class="col-md-9">
                  <div class="btn-group" dropdown [isOpen]="webTabStatus.isOpen" placement="top">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      <i class="icon-cloud-download"></i><span class="caret"> template</span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="{{NEW_SERVER_URL}}/assignment/getWebAssignmentFile"
                          download>WebQuickStart.zip</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
                </label>
                <div class="col-md-9">
                  <input type="file" name="file-input" (change)='fileListener($event)'>
                </div>
              </div>
            </tab>
            <!--Python-->
            <tab heading="Python" (click)="selectedAssignmentType('Python')">
              <div *ngIf="!peerReviewStatus.isOpen">
                <div class="form-group row">
                  <div class="col-md-3">Assignment Assessment</div>
                  <div class="col-md-3">Status :</div>
                  <div class="col-md-2">Order & Score :</div>       
                </div>
                <div class="form-group row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <ul class="list-group sortable" [sortablejs]="pyStatus" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of pyStatus">{{ item }}</li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <li class="list-group-item sortable" draggable="false" style="cursor: not-allowed; 
                          background-color: white;">1.&nbsp;Compile Failure
                          <select class="form-control" (change)="selectChangeHandler('python', 'Compile Failure', $event)">
                            <option *ngFor="let op of getScoreOptions(pyOrder, pyStatusScore, 'Compile Failure')" value="{{ op }}">{{ op }}%</option>
                          </select>
                      </li>
                    <ul class="list-group sortable" [sortablejs]="pyOrder" [sortablejsOptions]="normalOptions">
                      <li class="list-group-item" *ngFor="let item of pyOrder; let i = index;">{{ i + 2 }}. {{ item }}
                        <select class="form-control" (change)="selectChangeHandler('python', item, $event)">
                          <option *ngFor="let op of getScoreOptions(pyOrder, pyStatusScore, item)" value="{{ op }}">{{ op }}%</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Python File</label>
                <div class="col-md-9">
                  <div class="btn-group" dropdown [isOpen]="pythonTabStatus.isOpen" placement="top">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      <i class="icon-cloud-download"></i><span class="caret"> template</span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="{{NEW_SERVER_URL}}/assignment/getPythonAssignmentFile"
                          download>PythonQuickStart.zip</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
                </label>
                <div class="col-md-9">
                  <input type="file" name="file-input" (change)='fileListener($event)'>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <!--/.col-->
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" [disabled]='!assignment.valid' type='submit'>Submit</button>
      </div>
      <input type="hidden" name="fileHidden" formControlName="file" />
    </form>
  </div>


  <!--  Wating Crete Assignment  -->
  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Waiting Create Assignment</h4>
        </div>
        <div class="modal-body">
          <progressbar class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic" [max]="max"
            [type]="type">
            {{type}}
          </progressbar>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="changeToAssignmentPage()">Back</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <progedu-error-modal [errorTitle]='errorTitle' [errorResponse]="errorResponse"></progedu-error-modal>
</div>