<h1 style="text-align: center">Create Assignment</h1>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="cui-pencil icons"></i>
      <div class="card-header-actions"><button class="btn btn-primary" type="button"
          (click)="changeToAssignmentPage();">Assignment List</button></div>
    </div>
    <form [formGroup]="assignment" (ngSubmit)="submit()">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="name">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="name" formControlName='name' placeholder="Enter your name">
            <span *ngIf="!assignment.get('name').valid" class="help-block">your name too long</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="releaseTime">ReleaseTime</label>
          <div class="col-md-9">
            <input class="form-control" id="releaseTime" type="datetime-local" name="releaseTime"
              formControlName='releaseTime' placeholder="date">
            <span *ngIf="!assignment.get('releaseTime').valid" class="help-block">Please enter a valid date</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="deadline">Deadline</label>
          <div class="col-md-9">
            <input class="form-control" id="deadline" type="datetime-local" name="deadline" formControlName='deadline'
              placeholder="date">
            <span *ngIf="!assignment.get('deadline').valid" class="help-block">Please enter a valid date</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="readMe"> Assignment Description</label>
          <div class="col-md-9">
            <textarea id="readMe" name="readMe" rows="9" class="form-control" formControlName='readMe'
              placeholder="Content.."></textarea>
          </div>
        </div>

        <!--tabs-->
        <!-- Nav tabs -->
        <tabset>
          <!---- Java ---->
          <tab heading="Java">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="inline-radios">Java File</label>
              <div class="col-md-9">
                <div class="btn-group" dropdown [isOpen]="javaTabStatus.isOpen" placement="top">
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    <i class="icon-cloud-download"></i><span class="caret"> download</span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"
                        href="{{SERVER_URL}}/ProgEdu/resources/JavacQuickStart.zip" download>JavacQuickStart.zip</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item"
                        href="{{SERVER_URL}}/ProgEdu/resources/MvnQuickStart.zip" download>MvnQuickStart.zip</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="type">Type Radios</label>
              <div class="col-md-9">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="javac"
                    formControlName='type'>
                  <label class="form-check-label" for="inlineRadio1">Java</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="maven"
                    formControlName='type'>
                  <label class="form-check-label" for="inlineRadio2">Maven</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
              </label>
              <div class="col-md-9">
                <input type="file" name="file-input" (change)='fileListener($event)'>
              </div>
            </div>
          </tab>
          <!---- Android ---->
          <tab heading="Android">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Android File</label>
              <div class="col-md-9">
                <div class="btn-group" dropdown [isOpen]="webTabStatus.isOpen" placement="top">
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    <i class="icon-cloud-download"></i><span class="caret"> download</span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"
                        href="{{SERVER_URL}}/ProgEdu/resources/AndroidQuickStart.zip" download>AndroidQuickStart.zip</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="type">Type Radios</label>
              <div class="col-md-9">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="android"
                    formControlName='type'>
                  <label class="form-check-label" for="inlineRadio3">Android</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
              </label>
              <div class="col-md-9">
                <input type="file" name="file-input" (change)='fileListener($event)'>
              </div>
            </div>
          </tab>
          <!---- Web ---->
          <tab heading="Web">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Web File</label>
              <div class="col-md-9">
                <div class="btn-group" dropdown [isOpen]="androidTabStatus.isOpen" placement="top">
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    <i class="icon-cloud-download"></i><span class="caret"> download</span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"
                        href="{{SERVER_URL}}/ProgEdu/resources/WebQuickStart.zip" download>WebQuickStart.zip</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="type">Type Radios</label>
              <div class="col-md-9">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" name="type" value="web" formControlName='type'>
                  <label class="form-check-label" for="inlineRadio4">Web</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Upload your Assignment example (accept zip)
              </label>
              <div class="col-md-9">
                <input type="file" name="file-input" (change)='fileListener($event)'>
              </div>
            </div>
          </tab>
        </tabset>
        <!--/.col-->
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" [disabled]='!assignment.valid' type='submit'>Submit</button>
      </div>
      <input type="hidden" name="fileHidden" formControlName="file" />
    </form>
  </div>

</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Waiting Create Assignment</h4>
      </div>
      <div class="modal-body">
        <progressbar class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic" [max]="max"
          [type]="type">
          {{type}}
        </progressbar>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="changeToAssignmentPage()">Back</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Assignment Error</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{errorMsg}}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [disabled]="!assignment.valid"
          (click)="dangerModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
