<div class="animated fadeIn">
  <div class='card'>
    <div class='card-header'>
      <div class='input-group'>
        <span class="input-group-prepend">
          <button class="btn btn-primary" type="button" [disabled]='true'><i class="fa fa-search"></i></button></span>
        <input type='text' placeholder="Search" class='form-control col-md-2' [(ngModel)]='search'>
        <div class='ml-auto'>
          <span class="ovol NB">
            Initial
          </span>
          <span class="ovol UTF">
            Done
          </span>
          <span class="ovol UNDER_REVIEW">
            Under Review
          </span>
          <span class="ovol BS">
            Reviewed
          </span>
        </div>
      </div>
    </div>
    <div class='card-body' style="overflow-x:auto;">
      <table class='table table-striped' style="text-align:center;">
        <thead>
          <tr>
            <th width="10%" class='text-left'>學生</th>
            <th width="10%" *ngFor='let col of assignmentTable'>{{col.name}}</th>
            <th class='text-left'></th>
          </tr>
          <tr>
            <th width="10%" class='text-left' style="vertical-align: middle">Status</th>
            <th width="10%" *ngFor='let col of assignmentTable; index as i'>
              <p class="square_b {{getStatus(i)}}">
                {{getStatusString(i)}}
              </p></th>
            <th class='text-left'></th>
          </tr>
          <tr>
            <th width="10%" class='text-left'>Release Time</th>
            <th width="10%" *ngFor='let col of assignmentTable'>{{col.assessmentTimes[0].startTime | date:'yyyy-MM-dd'}}</th>
            <th class='text-left'></th>
          </tr>
          <tr>
            <th width="10%" class='text-left'>Deadline</th>
            <th width="10%" *ngFor='let col of assignmentTable'>{{col.assessmentTimes[0].endTime | date:'yyyy-MM-dd'}}</th>
            <th class='text-left'></th>
          </tr>
          <ng-container *ngFor="let item of [].constructor(getMaxAssignmentRound()); let i = index">
            <tr>
              <th width="10%" class='text-left'>審查 Round {{ i + 1 }}</th>
              <th width="10%" *ngFor='let col of assignmentTable'></th>
              <th class='text-left'></th>
            </tr>
            <tr>
              <th width="10%" class='text-left'>Release Time</th>
              <th width="10%" *ngFor='let col of assignmentTable'>{{col.assessmentTimes[i*2 + 1].startTime | date:'yyyy-MM-dd'}}</th>
              <th class='text-left'></th>
            </tr>
            <tr>
              <th width="10%" class='text-left'>Deadline</th>
              <th width="10%" *ngFor='let col of assignmentTable'>{{col.assessmentTimes[i*2 + 1].endTime | date:'yyyy-MM-dd'}}</th>
              <th class='text-left'></th>
            </tr>
          </ng-container>
        </thead>
        <tbody>
          <tr *ngFor='let student of allStudentCommitRecord | filter:search'>
            <th class='text-left' width="10%">
              {{student.username}}
              <br>
              {{student.name}}
            </th>
            <th *ngFor='let review of student.commitRecord'>
              <p id="{{student.username}}_{{review.assignmentName}}" class="circle {{review.reviewStatus}}">
                <a *ngIf='!isNA(review)'
                  id="{{student.username}}_{{review.assignmentName}}_{{review.commitRecordCount}}"
                  href="#/dashboard/reviewAssignmentChoose?username={{student.username}}&assignmentName={{review.assignmentName}}">{{review.commitRecordCount}}</a>
                <a *ngIf='isNA(review)'>N/A</a>
              </p>
            </th>
            <th class='text-left'></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
