  .timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .li {
    transition: all 200ms ease-in;
  }
  
  .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  .status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
  }

  .status h6 {
    font-weight: 600;
    margin-top: 20px;
  }

  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: 2px solid #66DC71;
  }

  .li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
  }

  .li.complete .status h6 {
    color: #66DC71;
  }
  
  
