<div class="animated fadeIn">
  <!-- Nav tabs -->
  <div class="row">
    <div class="col-md-10">
      <tabset>
        <tab id="add-one-student">
          <ng-template tabHeading><i class="icon-calculator"></i> Compiler Result</ng-template>
          <div class="card">
            <div class="card-header">
              Bar Chart
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
        <tab id="add-muti-student">
          <ng-template tabHeading><i class="icon-basket-loaded"></i>Commit Count And Build Result</ng-template>
          <div class="card">
            <div class="card-header">
              mixed Chart
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="mixedChartData" [labels]="mixedChartLabels"
                  [options]="mixedChartOptions" [legend]="mixedChartLegend" [chartType]="mixedChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
        <tab id="add-muti-student">
          <ng-template tabHeading><i class="icon-basket-loaded"></i>Commit Record</ng-template>
          <div class="card">
            <div class="card-header">
              Bubble Chart
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="bubbleChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="bubbleChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
