// Here you can add other styles
.circle {
  border-radius: 30px;
  height: 30px;
  font-weight: bold;
  width: 30px;
  margin: 0px auto;
  background-color: #26cedf;
}

.square {
  border-radius: 5px;
  height: 20px;
  font-weight: bold;
  width: 60px;
  margin: 0px auto;
}

.square_b {
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 5px;
  border-style:solid;
  margin: 0px auto;
  height: 30px;
  width: 80px;
}

.end {
  border-color: red;
}

.ongoing {
  border-color:#00DD00;
}

.not_allow {
  border-color: #878787;
}

.ovol {
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  float: left;
  padding: 5px 10px;
  margin-left: 5px;
}

#inline p {
  display: inline;
}

.red,
.CPF,
.cpf,
.uncompleted,
.UNCOMPLETED {
  background: #ff6284;
}

.blue,
.BS,
.bs,
.completed,
.COMPLETED,
.REVIEWED {
  background: #1e90ff;
}

.gray,
.NB,
.nb {
  background: #878787;
}

.INI,
.ini,
.INIT,
.initialization {
  background: #878787;
}

.yellow,
.CSF,
.csf,
.WHF,
.whf,
.WSF,
.wsf,
.WEF,
.wef,
.ALF,
.alf {
  background: #ffc229;
}

.UNDER_REVIEW {
  background: #fd993b;
}

.green,
.UTF,
.utf,
.UITF,
.DONE,
.CPFOUT,
.cpfout,
.uitf {
  background: #26cedf;
}

.circle a {
  color: #fff;
  line-height: 30px;
}

.square a {
  color: #fff;
  line-height: 10px;
}

#Screenshots-area {
  border-width: 2px;
  border-style: dashed;
  border-color: #63c2de;
  padding: 5px;
}

.screenshotSlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#container {
  background: #fff3cd;
}

#feedback-bar:hover {
  background-color: #c8ced3;
  cursor: pointer;
}

.assigned:hover {
  background-color: #c8ced3;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000;
  color: black;
}
